button{
    cursor:pointer;
}
.btn-ubr {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    padding: 10px 10px 10px 10px;
    transition-duration:.6s;
    
}
.btn-ubr:hover{
    opacity:.6;
}

.btn-amz {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 216, 20, 1);
    border: none;
    font-size: 20px;
    font-weight: 600;
    transition:background-color .6s;
    padding: 12px 60px 12px 60px;
    border-radius: 24px;
}
.btn-amz:active {

opacity:0.4;
}
.btn-amz:hover {
    background-color: rgb(210, 180, 29);
}
.btn-gth {
    color:rgba(255,255,255,1);
    background-color:rgba(46,164,79,1);
    border:none;
    font-size:18px;
    font-weight:600;
    transition-duration:.6s;
    padding:10px 18px 10px 18px;
    border-radius:6px;

}
.btn-gth:hover {
box-shadow:2px 2px 8px rgba(0,0,0,0.3);
}
.btn-bts-1{
    color:rgba(255,255,255,1);
    background-color:rgba(121,82,179,1);
    border:none;
    font-size:16px;
    font-weight:600;
    transition-duration:.6s;
    padding:12px 20px 12px 20px;
    border-radius:4px;

}

.btn-bts-1:hover{

    background-color:rgb(102, 66, 157);

}

.btn-bts-2{
    color:rgba(108,117,125,1);
    background-color:rgba(255,255,255,1);
    border-width: 1px;
    border-color:rgba(108,117,125,1);
    transition-duration:.3s;
    font-size:16px;
    font-weight:600;
    padding:12px 20px 12px 20px;
    border-radius:4px;
}
.btn-bts-2:hover{
    color:rgba(255,255,255,1);
    background-color:rgba(108,117,125,1);
}

.btn-lkd-1{
    font-size:22px;
    font-weight:600;
    color:rgba(255,255,255,1);
    background-color:rgba(10,102,194,1);
    border:none;
    padding:16px 32px 16px 32px;
    border-radius:28px;
    transition-duration:.5s;

}
.btn-lkd-1:hover{
background-color:rgb(12, 89, 167);
}

.btn-lkd-2{
    font-size:22px;
    font-weight:600;
    color:rgba(10,102,194,1);
    background-color:rgba(255,255,255,1);
    border-width:2px;
    border-color:rgba(10,102,194,1);
    padding:16px 32px 16px 32px;
    border-radius:32px;
    transition-duration:.01s;
}

.btn-lkd-2:hover{
    border-width: 3px;
    background-color:rgba(10,102,194,0.1);
}

#preco{
    color:rgba(0,118,0,1);
}
.amz-link{
    color:rgba(0,113,133,1);
    font-size:18px;
    
}
.amz-link:hover{
    color:crimson;
}
.txt-enf{
    font-weight:600;
}
#ex2f{
    font-size:14px;
    padding:8px 36px 8px 36px;
}
#ex2f-2{
    font-size:14px;
    padding:8px 36px 8px 36px;
    background-color:rgba(255,164,28,1);
}
#ex2f-2:hover{

    background-color:rgb(225, 147, 30);

}
